body {
    margin: 0;
    padding: 0;
    background: #FFA726;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
}

.container,
form {
    display: flex;
    flex-direction: column;
}
.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
}
form {
    justify-content: center;
}
input {
    margin-bottom: 1em;
    background: inherit;
    border-radius: 0.25em;
    outline: none;
    border: 2px solid #222222;
}
.submit-btn {
    width: 8em;
    height: 3em;
    margin: 1.5em auto;
    cursor: pointer;
}